.logo-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.flash {
    width:800px;
    margin-left: 50px;
}

.breadcrumb-list{
    background-color: whitesmoke;
    height: 30px;
    text-align: center;

    & ul {
        list-style: none;
    }
}
@media screen and (max-width: 1400px) {
    .flash {
        display:none;
    }
}

a {
    text-decoration: none;
}
