.inner-wrap {
    .container();
    max-width: 960px;
}
.vgrid, .route-grid {
    .showGrid();

    & .sidebar {
        position: absolute;
        left: 2%;
        width: 15%;
        border: 1px solid black;
        border-radius: 5px;
        background-color: green;
        margin-top:4%;
    }
}
