
.vgrid, .route-grid {
    .showGrid();

    & .sidebar {
        position: absolute;
        left: 2%;
        width: 15%;
        border: 1px solid black;
        border-radius: 5px;
        background-color: green;
        margin-top:4%;
    }

}

.row {
    .row();
}
.breadcrumb-wrap {
    .column(12);
}

.inner-wrap {
    .container();
    max-width: 960px;

}

.site-logo-text {
    .column(2);
}

.navbar2 {
    .column(8);
}

.flash {
    .column(10);
}

.main {
    .column(12);
}

.after-main {
    .column(12);
}

.footer-column {
    .column(4);

}

.footer {
    .column(12);
}

.site-footer {
    text-align: center;
     & ul {
         list-style-type: none;
     }
}

.about_img {
    .column(12);
}
